<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h1>P2P Insurance</h1>
    </div><!-- /column -->
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-bars"></i> Menu</div>
        <div class="panel-body">
          <ul ng-if="ctl.user.role === 'member'" class="list-inline">
            <li><a href="" ui-sref="demo.pool-list">Pools</a></li>
          </ul>
          <ul ng-if="ctl.user.role === 'insurer'" class="list-inline">
            <li><a href="" ui-sref="demo.pool-list">Pools</a></li>
          </ul>
        </div>
      </div>
    </div><!-- /column -->
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-user"></i> Logged in User</div>
        <div class="panel-body">
          <select class="form-control" ng-model="ctl.user"
          ng-options="u.id for u in ctl.users"
          ng-change="ctl.setUser(ctl.user)"></select>
        </div>
      </div>
    </div><!-- /column -->
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-clock-o"></i> Current Date</div>
        <div class="panel-body" ng-click="ctl.tick()" ng-dblclick="ctl.clock()">
          <h5><a href="">{{ctl.now() | date:'longDate'}}</a></h5>
        </div>
      </div>
    </div><!-- /column -->
  </div><!-- /row -->
  <ui-view/>
</div>
