<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="modal-header">
      <h3 class="modal-title">Simulate Money Transfer</h3>
    </div>
    <form name="modalForm" ng-submit="paymentCtrl.simulate(paymentCtrl.transaction)" >
      <div class="modal-body">
        <div class="form-group">
          <label>from aba.account</label>
          <input class="form-control" required="required" type="text" ng-model="paymentCtrl.transaction.from" />
        </div>
        <div class="form-group">
          <label>to aba.account</label>
          <input class="form-control" required="required" type="text" ng-model="paymentCtrl.transaction.to" />
        </div>
        <div class="form-group">
          <label>amount</label>
          <input class="form-control" required="required" type="number" min="0" ng-model="paymentCtrl.transaction.amount">
        </div>
        <div class="form-group">
          <label>purpose</label>
          <select class="form-control" ng-model="paymentCtrl.transaction.purpose" ng-options="o for o in paymentCtrl.transferPurposes"></select>
        </div>
        <div class="form-group">
          <label>id</label>
          <input class="form-control" required="required" type="text" ng-model="paymentCtrl.transaction.id" />
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="submit">Simulate</button>
      </div>
    </form>
  </div>
</div>
