<h2>My Pools</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Trigger</th>
      <th>Coverage</th>
      <th>Premium</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <!-- <td colspan="7"><button class="btn btn-primary" ng-click="poolList.open()">Issue Pool</button></td> -->
    </tr>
  </tfoot>
  <tbody>
    <tr ng-repeat="pool in poolList.myPools">
      <td>{{pool.id}}</td>
      <td>{{pool.name}}</td>
      <td>{{pool.trigger}}</td>
      <td>{{pool.coverage | currency}}</td>
      <td>{{pool.premium | currency}}</td>
    </tr>
  </tbody>
</table>

<h2>Others Pools</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Trigger</th>
      <th>Coverage</th>
      <th>Premium</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <!-- <td colspan="7"><button class="btn btn-primary" ng-click="poolList.open()">Issue Pool</button></td> -->
    </tr>
  </tfoot>
  <tbody>
    <tr ng-repeat="pool in poolList.otherPools">
      <td>{{pool.id}}</td>
      <td>{{pool.name}}</td>
      <td>{{pool.trigger}}</td>
      <td>{{pool.coverage | currency}}</td>
      <td>{{pool.premium | currency}}</td>
      <td>
        <a href="" ng-click="poolList.openEnerPoolModal(pool)">Enter</a>
      </td>
    </tr>
  </tbody>
</table>

<script type="text/ng-template" id="enter-pool-modal.html">
  <div class="modal-header">
    <h3 class="modal-title">Enter Pool</h3>
  </div>
  <form name="modalForm">
    <div class="modal-body">
      <h3>"{{enterPool.pool.name}}" Terms</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem sunt reiciendis ab suscipit impedit officiis? Sit unde quos modi voluptatem eveniet, maiores earum, magni. Inventore nihil praesentium dolore laboriosam quas.
      </p>
      <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="enterPool.enter(enterPool.pool)">Enter</button>
        <button class="btn btn-warning" type="button" ng-click="$dismiss('cancel')">Cancel</button>
      </div>
    </div>
  </form>
</script>
