<div ng-if="poolList.pools.length">
  <h2>Pools</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Trigger</th>
        <th>Coverage</th>
        <th>Premium</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="7"><button class="btn btn-primary pull-right" ng-click="poolList.create()">Create Pool</button></td>
      </tr>
    </tfoot>
    <tbody>
      <tr ng-repeat="pool in poolList.pools">
        <td>{{pool.id}}</td>
        <td>{{pool.name}}</td>
        <td>{{pool.trigger}}</td>
        <td>{{pool.coverage | currency}}</td>
        <td>{{pool.premium | currency}}</td>
        <td>
          <a href="" ng-if="poolList.currentUser.role == 'member'" ng-click="poolList.openEnterPoolModal(pool)">Join</a>
          <a href="" ng-if="poolList.currentUser.role == 'insurer' && !pool.insured" ng-click="poolList.openInsurePoolModal(pool)">Insure</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<script type="text/ng-template" id="enter-pool-modal.html">
  <div class="modal-header">
    <h3 class="modal-title">Join Pool</h3>
  </div>
  <form name="modalForm">
    <div class="modal-body">
      <h3>"{{enterPool.pool.name}}" Terms</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem sunt reiciendis ab suscipit impedit officiis? Sit unde quos modi voluptatem eveniet, maiores earum, magni. Inventore nihil praesentium dolore laboriosam quas.
      </p>
      <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-click="enterPool.enter(enterPool.pool)">Join</button>
        <button class="btn btn-warning" type="button" ng-click="$dismiss('cancel')">Cancel</button>
      </div>
    </div>
  </form>
</script>

<script type="text/ng-template" id="insure-pool-modal.html">
  <div class="modal-header">
    <h3 class="modal-title">Insure Pool</h3>
  </div>
  <form name="modalForm">
    <div class="modal-body">
      <div class="form-group">
        <label>Premium</label>
        <input class="form-control" required="required" type="number" min="0" ng-model="insurePool.pool.insurePremium">
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="insurePool.insure(insurePool.pool)" ng-disabled="modalForm.$invalid">Create</button>
      <button class="btn btn-warning" type="button" ng-click="$dismiss('cancel')">Cancel</button>
    </div>
  </form>
</script>


<script type="text/ng-template" id="create-pool-modal.html">
  <div class="modal-header">
    <h3 class="modal-title">Create Pool</h3>
  </div>
  <div class="modal-body">
    <form name="modalForm">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" required="required" type="text" ng-model="createPool.pool.name" />
      </div>
      <div class="form-group">
        <label>Trigger</label>
        <input class="form-control" required="required" type="text" ng-model="createPool.pool.trigger" />
      </div>
      <div class="form-group">
        <label>Coverage</label>
        <input class="form-control" required="required" type="number" min="0" step="100" ng-model="createPool.pool.coverage">
      </div>
      <div class="form-group">
        <label>Premium</label>
        <input class="form-control" required="required" type="number" min="0" ng-model="createPool.pool.premium">
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="submit" ng-click="createPool.create(createPool.pool)" ng-disabled="modalForm.$invalid">Create</button>
      <button class="btn btn-warning" type="button" ng-click="$dismiss('cancel')">Cancel</button>
    </div>
  </form>
</script>
